<div class="container mt-5">
    <a th:if="${error == null}" th:text="${error}"> Baixar Imagem</a>
    <form th:action="@{generateContactQrCode}" method="POST" class="form-group">
        <div class="form-group">
            <label for="network">Name</label>
            <input class="form-control" id="network" type="text" th:name="name" placeholder="E.g - Joseph">
        </div>
        <div class="form-group">
            <label for="password">Address</label>
            <input class="form-control" id="address" type="text" th:name="address" placeholder="E.g - 1234 Ranee Avenue, ON - CA">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" id="email" type="text" th:name="email" placeholder="E.g - youremail@host.com">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input class="form-control" id="phone" type="text" th:name="phone" placeholder="E.g - +55 (11) 9673-4523">
        </div>
        <div th:if="${qrcode != null}" class="form-group">
            <img th:src="${qrcode} == null ? _ : @{'data:image/png;base64,'+${qrcode}}" class="mx-auto d-block">
        </div>
        <button class="btn btn-primary" type="submit">Generate QrCode</button>
        <a th:if="${qrcode != null}" th:href="${qrcode} == null ? _ : @{'data:image/png;base64,'+${qrcode}}"
            class="btn btn-primary" download="QrCode"> Download</a>
    </form>
</div>