<div class="container mt-5">
    <a th:if="${error == null}" th:text="${error}"></a>
    <form th:action="@{generatePhoneQrCode}" method="POST" class="form-group">
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control phoneNumber-input" id="phoneNumber" type="text" th:name="phoneNumber" placeholder="E.g - (11) 99432-5412">
        </div>
        <div th:if="${qrcode != null}" class="form-group">
            <img th:src="${qrcode} == null ? _ : @{'data:image/png;base64,'+${qrcode}}" class="mx-auto d-block">
        </div>
        <button class="btn btn-primary" type="submit">Generate QrCode</button>
        <a th:if="${qrcode != null}" th:href="${qrcode} == null ? _ : @{'data:image/png;base64,'+${qrcode}}"
            class="btn btn-primary" download="QrCode"> Download</a>
    </form>
</div>